body{
	width: 99%;
	overflow-x: hidden;
	overflow-y: hidden;
	background: url('background.jpg') no-repeat fixed center;
}

#btn{
	width: 200px;
	height: 60px;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	margin: auto;
	margin-top: 15%;
	border: 2px solid #d0d0d0;
	border-radius: 10px; 
	background-color: #e0e0e0;
}

#admin{
	width: 99%;
	height: 80px;
	margin: auto;
	color: white;
	position: relative;
	font-size: 36px;
	background-color: black;
}

.content{
	width: 90%;
	height: 100px;
	margin: auto;
	margin-top: 10px;
	opacity: 0.9;
	background-color: #4f4f4f;
}

.userinfo{
	width: 100px;
	float: left;
}

.message{
	width: 80%;
	height: 100px;
	line-height: 100px;
	float: left;
	color: white;
	text-align: center;
	font-size: 40px;
	white-space: nowrap;
	overflow: hidden;
}

.username{
	width: 100px;
	height: 15px;
	color: white;
	text-align: center;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
}

.headimage{
	width: 100px;
	height: 85px;
	margin-left: 7px;
}

img{
	width: 85px;
	height: 85px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

#footer{
	text-align: center;
	color: white;
	width: 99%;
	position: fixed;
	bottom: 10px;
}